*{margin: 0;padding: 0;}
.txt { font-size: 60px; }

.menu{
  background-color: #002f43;
  width: 100%;
  height: 100px; 
}
body{
  background-color: #12a9b0;
}

.pagina{
  
  margin: 0 auto;
  display: table;
  min-height: 600px;
  background-color: #a5bdc1;
}
.slider{
  background-color: white;
  width: 100%;
  min-height: 500px;
  
}
.img{
  background-color: white;
  min-width: 50px;
  min-height: 200px;
  border-radius: 40px 40px 0 0;
  
}

.texto{
  background-color: white;
  min-width: 50px;
  min-height: 50px;
  border-radius: 0 0 40px 40px;
  
}

.bloco{
  background-color: #008080;
  width:  250px;
  height: 250px;
  float: left;
  margin: 10px;
  border-radius: 40px;
}